@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.navbar_container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  width: 100%;
  background-clip: border-box;
  border-bottom: 2px solid rgb(226, 226, 226);
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  background: white;
  top: -1px;
  box-shadow: 5px 5px 10px 2px rgb(130, 129, 129);
}

.navbar_container h1 {
  color: white;
}

.brand_logo {
  margin: 2vh 2vw 2vh 2vw;
  height: 12vh;
  width: 14vh;
  align-self: center;
  background-image: url('../public/images/get-easy-brand-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.brand_logo:hover {
  cursor: pointer;
}

.button_container {
  display: flex;
  width: 25%;
  margin-right: 10vh;
}

.button_container ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style: none;
  color: rgb(43, 114, 27);
  text-align: center;
  text-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  align-items: center;
}

.button_container ul li:hover {
  color: rgb(18, 69, 6);
  cursor: pointer;
}

.navbar_branding {
  display: flex;
}

.navbar_branding h1 {
  display: flex;
  align-self: center;
  margin: 0 0 0 1vw;
}
