@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.signin_container {
  width: 98vw;
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background-image: url('../public/images/sign_back_img.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% 80%;
}

.form_container {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0vh 30vw 0vh 30vw;
  border-radius: 12px;
  padding: 2vh 0vh 2vh 0vh;
}

.form {
  display: flex;
  flex-direction: column;
}

.brand_logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.brand_logo img {
  width: 50%;
}

.form h1 {
  display: flex;
  justify-content: center;
}

.brand_image {
  width: 40%;
  margin: 1vh 0vw 1vh 2vw;
  padding: 1vh 2vw 1vh 2vw;
  display: flex;
  justify-content: center;
}

.brand_image img {
  width: 100%;
}

.form label {
  padding: 1vh 0vw 1vh 0vw;
  font-size: 20px;
  font-weight: 800;
}

.input {
  font-family: 'Roboto', sans-serif;
  padding: 2vh 1vw 2vh 1vw;
  border-radius: 12px;
  letter-spacing: 2px;
  border-color: #888585;
  border-style: solid;
}

.button_div {
  display: flex;
  justify-content: space-between;
}

.submit_btn {
  margin: 4vh 0vw 2vh 0vw;
  width: 45%;
  font-family: 'Roboto', sans-serif;
  padding: 2vh 1vw 2vh 1vw;
  border-radius: 12px;
  letter-spacing: 2px;
  border-style: none;
  background-color: #2b721b;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
}
